<section id="speedtest" class="ready">
  <div id="progress" class="progress">
    <div class="progress-bar" role="progressbar"></div>
  </div>

  <div id="actions">
    <button id="start" class="btn-lg btn-primary" aria-label="Start">
      <i class="fas fa-play"></i>
      Iniciar
    </button>
    <button id="stop" class="btn-lg btn-danger d-none" aria-label="Stop">
      <i class="fas fa-stop"></i>
      Parar
    </button>
    <button id="share" class="btn-link d-none" aria-label="Share">
      <i class="icon icon-link"></i>
      Compartilhe
    </button>
    <div id="timestamp"></div>
  </div>

  <div id="latency" class="result">
    <label><i class="icon icon-latency"></i> Ping</label>
    <span class="value"></span>
    <span class="unit">ms</span>
  </div>
  <div id="jitter" class="result">
    <label><i class="icon icon-jitter"></i> Jitter</label>
    <span class="value"></span>
    <span class="unit">ms</span>
  </div>
  <div id="download" class="result">
    <label><i class="icon icon-download"></i> Download</label>
    <span class="value"></span>
    <span class="unit">Mbps</span>
  </div>
  <div id="upload" class="result">
    <label><i class="icon icon-upload"></i> Upload</label>
    <span class="value"></span>
    <span class="unit">Mbps</span>
  </div>

  <div id="gauge" class="gauge-container">
    <div class="result">
      <div class="value">...</div>
      <div class="unit">Mbps</div>
    </div>
  </div>

  <div id="ip" class="result">
    <label>IP</label>
    <div class="ip value"></div>
    <div class="org"></div>
  </div>
</section>

<!-- Page About -->
<section id="about" class="d-none">
  <h2>Sobre o teste de velocidade</h2>

  <p id="version">
    <strong>Versão:</strong> 1.0v built on 21/01/2022
  </p>

  <ul>
    <li><a href="#what-does-it-measure">O que mede?</a></li>
    <li><a href="#indicators-meaning">Qual é o significado de cada indicador?</a></li>
    <li><a href="#supported-browsers">Quais são os navegadores suportados?</a></li>
    <li><a href="#how-test">Como realizar o teste?</a></li>
  </ul>

  <p>
    O Skynet Speed Test é um medidor de velocidade Internet completo que verifica, além de sua banda de download, diversas métricas de qualidade Internet que afetam diretamente a navegação e utilização da rede.
  </p>

  <article id="what-does-it-measure" class="entry">
    <h3>O que mede?</h3>
    <p>Este teste de velocidade fornece informações sobre quatro indicadores simples sobre sua conexão com a internet:
    </p>
    <table class="table">
      <thead>
        <tr>
          <th>Indicador</th>
          <th>O que é testado?</th>
          <th>Medição</th>
          <th>Recomendado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>latência (Ping)</td>
          <td>atraso entre você e o servidor</td>
          <td>tempo de reação</td>
          <td> ~ 30 ms</td>
        </tr>
        <tr>
          <td>jitter</td>
          <td>variação do atraso</td>
          <td>estabilidade</td>
          <td> ~5 ms</td>
        </tr>
        <tr>
          <td>download</td>
          <td>taxa de recebimento de dados</td>
          <td>velocidade de download</td>
          <td> > 10MB </td>
        </tr>
        <tr>
          <td>upload</td>
          <td>taxa de envio de dados</td>
          <td>velocidade de upload</td>
          <td> > 5MB</td>
        </tr>
      </tbody>
    </table>
  </article>

  <article id="indicators-meaning">
    <h3>Qual é o significado de cada indicador?</h3>
    <h4>A latência é a capacidade de resposta da sua conexão</h4>
    <p>Quando está baixo, indica que a informação leva pouco tempo para viajar entre você e o servidor. Quanto mais baixo, mais informação flui "em tempo real". Geralmente reflete a distância percorrido por dados entre você e o servidor.</p>
    <h4>Jitter é a estabilidade da sua conexão</h4>
    <p>Quando está baixo, indica que a latência não varia muito e que sua conexão está estável. Quando for alto, indica que a reatividade da sua conexão pode variar muito entre uma troca de dados entre você e o servidor.</p>
    <h4>A velocidade de download e upload são do tamanho da sua conexão</h4>
    <p>Quando está alto, mais dados podem ser trocados em pouco tempo entre você e o servidor. Sendo assim possível recuperar e enviar arquivos grandes mais rapidamente.</p>
  </article>

  <article id="supported-browsers">
    <h3>Quais são os navegadores suportados?</h3>
    <p>Este teste de velocidade deve funcionar normalmente em todos os navegadores modernos, incluindo a versão mais recente do 
      <a href="https://www.google.com/chrome/" target="_blank" rel="noopener">Google Chrome</a>, 
      <a href="https://www.mozilla.org/firefox/" target="_blank" rel="noopener">Mozilla Firefox</a>,
      <a href="https://www.microsoft.com/windows/microsoft-edge" target="_blank" rel="noopener">Microsoft Edge</a>, 
      <a href="https://www.apple.com/safari/" target="_blank" rel="noopener">Apple Safari</a> e 
      <a href="https://www.opera.com/" target="_blank" rel="noopener">Opera</a>.
    </p>
    <p>No entanto, nenhuma versão do Internet Explorer é oficialmente suportada.</p>
  </article>

  <article id="how-test">
    <h3>Como realizar o teste?</h3>
    <ul>
      <li>Se possível utilizar um dispositivo com cabo para garantir maior precissão na medição final.</li>
      <li>Se possível utilizar somente um dispositivo conectado a rede (o dispositvo que vai realizar o teste).</li>
      <li>Evitar o uso de outras aplicações ou serviços (mesmo em outros dispositivos) que façam uso de banda Internet simultaneamente com a realização do teste.</li>
      <li>Caso faça uso de rede Wi-Fi, manter o dispositivo fisicamente próximo ao roteador ou modem para reduzir possíveis interferências.</li>
    </ul>
  </article>
</section>

<!-- Page History -->
<section id="history" class="d-none">
  <h2>Resultados salvos</h2>

  <div id="go-landscape">
    <div id="device-wrapper">
      <div id="device">
        <div id="device-screen">
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
    <p>Por favor, vire seu dispositivo na orientação paisagem.</p>
  </div>

  <svg viewBox="0 0 500 60" class="d-none">
    <g id="uploadChart">
      <polyline></polyline>
      <g class="points"></g>
    </g>
    <g id="downloadChart">
      <polyline></polyline>
      <g class="points"></g>
    </g>
  </svg>
  <table>
    <thead>
      <tr>
        <th>Data</th>
        <th>Ping</th>
        <th>Jitter</th>
        <th>Download</th>
        <th>Upload</th>
        <th>IP / Org</th>
        <th class="text-center">
          <button class="btn-danger" aria-label="Erase history" title="Delete all results from history">
            <i class="icon icon-trash"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</section>

<section id="settings" class="d-none">
  <div class="flex">
    <h2>
      <i class="fas fa-cog"></i> Configurações
    </h2>
  </div>

  <form>
    <fieldset>
      <legend>Geral</legend>
      <div class="field">
        <label>Tema</label>
        <div>
          <input type="radio" name="theme" value="light">
          <label for="theme-light">
            Claro
          </label>
        </div>
        <div>
          <input type="radio" name="theme" value="dark">
          <label for="theme-dark">
            Escuro
          </label>
        </div>
      </div>
      <div class="field">
        <label>Salvar resultados</label>
        <div>
          <input type="checkbox" name="saveResults">
        </div>
      </div>
      <legend>Teste</legend>
      <div class="field">
        <label>Servidor</label>
        <div>
          <select name="server"></select>
        </div>
      </div>
      <div class="field">
        <label>Informações de IP</label>
        <div>
          <input type="checkbox" name="getIP">
        </div>
      </div>
      <div class="field">
        <label>Testar Ping/Jitter</label>
        <div>
          <input type="checkbox" name="testPj">
        </div>
      </div>
      <div class="field">
        <label>Testar Download</label>
        <div>
          <input type="checkbox" name="testDl">
        </div>
      </div>
      <div class="field">
        <label>Testar Upload</label>
        <div>
          <input type="checkbox" name="testUl">
        </div>
      </div>
      <div class="field">
        <label>Tempo de Download</label>
        <div>
          <input type="number" name="timeDownload" min="5" max="30" value="15">
        </div>
      </div>
      <div class="field">
        <label>Tempo de Upload</label>
        <div>
          <input type="number" name="timeUpload" min="5" max="30" value="15">
        </div>
      </div>
      <div class="field">
        <label>Conexões de Download</label>
        <div>
          <input type="number" name="conDownload" min="1" max="9" value="6">
        </div>
      </div>
      <div class="field">
        <label>Conexões de Upload</label>
        <div>
          <input type="number" name="conUpload" min="1" max="6" value="3">
        </div>
      </div>
    </fieldset>
    <button type="submit" class="btn-dark" aria-label="Save settings">
      <i class="fas fa-save"></i>
      Salvar
    </button>
    <button type="button" class="btn-link" aria-label="Default settings">
      <i class="fas fa-undo"></i>
      Padrão
    </button>
  </form>
</section>

<section id="sharedata" class="d-none">
  <div class="text-center">
    <img class="img-thumbnail" alt="Speed Test results">
  </div>
  <fieldset>
    <label>Web</label>
    <div class="input-group">
      <input type="text" readonly>
      <div class="input-group-append">
        <button class="btn-outline-secondary" type="button" aria-label="Copy" clickcopy>Copiar</button>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <label>Image</label>
    <div class="input-group">
      <input type="text" readonly>
      <div class="input-group-append">
        <button class="btn-outline-secondary" type="button" aria-label="Copy" clickcopy>Copiar</button>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <label>Embed</label>
    <div class="input-group">
      <input type="text" readonly>
      <div class="input-group-append">
        <button class="btn-outline-secondary" type="button" aria-label="Copy" clickcopy>Copiar</button>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <label>Forum</label>
    <div class="input-group">
      <input type="text" readonly>
      <div class="input-group-append">
        <button class="btn-outline-secondary" type="button" aria-label="Copy">Copiar</button>
      </div>
    </div>
  </fieldset>
</section>
