<section id="speedtest" class="ready">
  <div id="progress" class="progress">
    <div class="progress-bar" role="progressbar"></div>
  </div>

  <div id="actions">
    <button id="start" class="btn-lg btn-primary" aria-label="Start">
      <i class="fas fa-play"></i>
      Iniciar
    </button>
    <button id="stop" class="btn-lg btn-danger d-none" aria-label="Stop">
      <i class="fas fa-stop"></i>
      Parar
    </button>
    <button id="share" class="btn-link d-none" aria-label="Share">
      <i class="icon icon-link"></i>
      Compartilhe
    </button>
    <div id="timestamp"></div>
  </div>

  <div id="latency" class="result">
    <label><i class="icon icon-latency"></i> Ping</label>
    <span class="value"></span>
    <span class="unit">ms</span>
  </div>
  <div id="jitter" class="result">
    <label><i class="icon icon-jitter"></i> Jitter</label>
    <span class="value"></span>
    <span class="unit">ms</span>
  </div>
  <div id="download" class="result">
    <label><i class="icon icon-download"></i> Download</label>
    <span class="value"></span>
    <span class="unit">Mbps</span>
  </div>
  <div id="upload" class="result">
    <label><i class="icon icon-upload"></i> Upload</label>
    <span class="value"></span>
    <span class="unit">Mbps</span>
  </div>

  <div id="gauge" class="gauge-container">
    <div class="result">
      <div class="value">...</div>
      <div class="unit">Mbps</div>
    </div>
  </div>

  <div id="ip" class="result">
    <label>IP</label>
    <div class="ip value"></div>
    <div class="org"></div>
  </div>
</section>

<!-- Page About -->
<section id="about" class="d-none">
  <h2>About the Speed Test</h2>

  <p id="version">
    <strong>Version:</strong> {{VERSION}} built on {{BUILD_DATE}}
  </p>

  <ul>
    <li><a href="#what-does-it-measure">What does it measure?</a></li>
    <li><a href="#indicators-meaning">What is the meaning of each indicator?</a></li>
    <li><a href="#supported-browsers">What are the supported browsers?</a></li>
    <li><a href="#source-code">Where can I review the source code?</a></li>
  </ul>

  <article id="what-does-it-measure" class="entry">
    <h3>What does it measure?</h3>
    <p>This speed test provides you with information on four simple indicators about your Internet
      connection:
    </p>
    <table class="table">
      <thead>
        <tr>
          <th>Indicator</th>
          <th>What is tested?</th>
          <th>Measurement</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>latency</td>
          <td>delay between you and the server</td>
          <td>reaction time</td>
        </tr>
        <tr>
          <td>jitter</td>
          <td>variation of the delay</td>
          <td>stability</td>
        </tr>
        <tr>
          <td>download</td>
          <td>rate of data receiving</td>
          <td>download speed</td>
        </tr>
        <tr>
          <td>upload</td>
          <td>rate of data sending</td>
          <td>upload speed</td>
        </tr>
      </tbody>
    </table>
  </article>

  <article id="indicators-meaning">
    <h3>What is the meaning of each indicator?</h3>

    <h4>Latency is the responsiveness of your connection</h4>
    <p>When it is low, it indicates that the information takes little time to travel between you and the
      server.
      The lower it is, the more information flows "in real time". It generally reflects the distance
      traved by
      data between you and the server.</p>

    <h4>Jitter is the stability of your connection</h4>
    <p>When it is low, it indicates that latency does not vary much and that your connection is stable. On
      the
      contrary, when it rises, it indicates that the reactivity of your connection can vary greatly from
      one
      data exchange to another.</p>

    <h4>The download and upload speed are the size of your connection</h4>
    <p>When it is high, a lot of data can be exchanged in a short time between you and the server. This
      makes it
      possible to retrieve and send large files faster.</p>
  </article>

  <article id="supported-browsers">
    <h3>What are the supported browsers?</h3>
    <p>This speed test should operate normally on all modern browsers, including the latest version of <a
        href="https://www.google.com/chrome/" target="_blank" rel="noopener">Google Chrome</a>, <a
        href="https://www.mozilla.org/firefox/" target="_blank" rel="noopener">Mozilla Firefox</a>,
      <a href="https://www.microsoft.com/windows/microsoft-edge" target="_blank" rel="noopener">Microsoft
        Edge</a>, <a href="https://www.apple.com/safari/" target="_blank" rel="noopener">Apple
        Safari</a> and <a href="https://www.opera.com/" target="_blank" rel="noopener">Opera</a>.
    </p>
    <p>However, no version of Internet Explorer is officially supported.</p>
  </article>

  <article id="source-code">
    <h3>Where can I review the source code?</h3>
    <p>This speed test is completely open source. Its source code can be reviewed online, on its GitHub
      repository: <a href="https://github.com/e7d/speedtest" target="_blank"
        rel="noopener">https://github.com/e7d/speedtest</a></p>
  </article>
</section>

<!-- Page History -->
<section id="history" class="d-none">
  <h2>Resultados salvos</h2>

  <div id="go-landscape">
    <div id="device-wrapper">
      <div id="device">
        <div id="device-screen">
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
    <p>Por favor, vire seu dispositivo na orientação paisagem.</p>
  </div>

  <svg viewBox="0 0 500 60" class="d-none">
    <g id="uploadChart">
      <polyline></polyline>
      <g class="points"></g>
    </g>
    <g id="downloadChart">
      <polyline></polyline>
      <g class="points"></g>
    </g>
  </svg>
  <table>
    <thead>
      <tr>
        <th>Data</th>
        <th>Ping</th>
        <th>Jitter</th>
        <th>Download</th>
        <th>Upload</th>
        <th>IP / Org</th>
        <th class="text-center">
          <button class="btn-danger" aria-label="Erase history" title="Delete all results from history">
            <i class="icon icon-trash"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</section>

<section id="settings" class="d-none">
  <div class="flex">
    <h2>
      <i class="fas fa-cog"></i> Configurações
    </h2>
  </div>

  <form>
    <fieldset>
      <legend>Geral</legend>
      <div class="field">
        <label>Tema</label>
        <div>
          <input type="radio" name="theme" value="light">
          <label for="theme-light">
            Claro
          </label>
        </div>
        <div>
          <input type="radio" name="theme" value="dark">
          <label for="theme-dark">
            Escuro
          </label>
        </div>
      </div>
      <div class="field">
        <label>Salvar resultados</label>
        <div>
          <input type="checkbox" name="saveResults">
        </div>
      </div>
      <legend>Teste</legend>
      <div class="field">
        <label>Servidor</label>
        <div>
          <select name="server"></select>
        </div>
      </div>
      <div class="field">
        <label>Informações de IP</label>
        <div>
          <input type="checkbox" name="getIP">
        </div>
      </div>
      <div class="field">
        <label>Testar Ping/Jitter</label>
        <div>
          <input type="checkbox" name="testPj">
        </div>
      </div>
      <div class="field">
        <label>Testar Download</label>
        <div>
          <input type="checkbox" name="testDl">
        </div>
      </div>
      <div class="field">
        <label>Testar Upload</label>
        <div>
          <input type="checkbox" name="testUl">
        </div>
      </div>
      <div class="field">
        <label>Tempo de Download</label>
        <div>
          <input type="number" name="timeDownload" min="5" max="30" value="15">
        </div>
      </div>
      <div class="field">
        <label>Tempo de Upload</label>
        <div>
          <input type="number" name="timeUpload" min="5" max="30" value="15">
        </div>
      </div>
      <div class="field">
        <label>Conexões de Download</label>
        <div>
          <input type="number" name="conDownload" min="1" max="9" value="6">
        </div>
      </div>
      <div class="field">
        <label>Conexões de Upload</label>
        <div>
          <input type="number" name="conUpload" min="1" max="6" value="3">
        </div>
      </div>
    </fieldset>
    <button type="submit" class="btn-dark" aria-label="Save settings">
      <i class="fas fa-save"></i>
      Salvar
    </button>
    <button type="button" class="btn-link" aria-label="Default settings">
      <i class="fas fa-undo"></i>
      Padrão
    </button>
  </form>
</section>

<section id="share" class="d-none">
  <div class="text-center">
    <img id="share-result-image-preview" class="img-thumbnail" alt="Speed Test results">
  </div>
  <fieldset>
    <label for="share-result-link">Web</label>
    <div class="input-group">
      <input id="share-result-link" type="text" readonly>
      <div class="input-group-append">
        <button id="share-result-link-copy" class="btn-outline-secondary" type="button" aria-label="Copy">Copy</button>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <label for="share-result-image">Image</label>
    <div class="input-group">
      <input id="share-result-image" type="text" readonly>
      <div class="input-group-append">
        <button id="share-result-image-copy" class="btn-outline-secondary" type="button" aria-label="Copy">Copy</button>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <label for="share-result-embed">Embed</label>
    <div class="input-group">
      <input id="share-result-embed" type="text" readonly>
      <div class="input-group-append">
        <button id="share-result-embed-copy" class="btn-outline-secondary" type="button" aria-label="Copy">Copy</button>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <label for="share-result-forum">Forum</label>
    <div class="input-group">
      <input id="share-result-forum" type="text" readonly>
      <div class="input-group-append">
        <button id="share-result-forum-copy" class="btn-outline-secondary" type="button" aria-label="Copy">Copy</button>
      </div>
    </div>
  </fieldset>
</section>
